.inputLabel {
  display: inline;
  color: #bb9839;
  margin: 1vh;
  font-size: x-large;
  font-weight: bold;
}

input {
  height: 4vh;
}

select {
  height: 4vh;
}

.inputContainer {
  position: relative;
  display: block;
  margin-top: 10vh;
  text-align: center;
}

#analysisButton {
  width: 10vh;
  left: 5vh;
}
