.inputLabel {
  display: inline;
  color: #bb9839;
  margin: 1vh;
  font-size: x-large;
  font-weight: bold;
}

select {
  height: 4vh;
}

.inputContainer {
  position: relative;
  display: block;
  margin-top: 10vh;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataButton {
  width: 40vh;
  height: 10vh;
  margin: 3vh;
}
